//Variables, Mixins and Fonts

@use "sass:math";
@use "sass:list";
@import 'viewports';
@import 'themeSelector';

$baseUnit: 2rem;

:root{
	//The reason for so many variables is to have the least number of possible variables for the most number of possible unique colours in a single theme.
	--themeHeader: #fff;
	--themeHeaderText: #cf649a;
	--themeOverlaySidebar: #cf649a;
	--themeOverlayText: #fff;
	--themeNav: #cf649a;
	--themeNavLink: #fff;
	--themeNavLinkHover: #{lighten(#cf649a, 20%)};
	--themeNavLinkActive: #343434;
	--themeMainContent: #fff;
	--themeSideContent: #{lighten(#cf649a, 20%)};
	--themeFooter: #434343;
	--themeFooterText: #fff;
	--themePrimary: #cf649a; //Headings, Links, Buttons
	--themePrimaryLight: #{lighten(#cf649a, 20%)}; //Link Hover, Button Hover
	--themePrimaryDark: #{darken(#cf649a, 20%)}; //Button Click
	--themeSecondary: #343434; //Button Alts, Heading Alts
	--themeSecondaryLight: #{lighten(#343434, 20%)}; //Button Alt Hover
	--themeSecondaryDark: #{darken(#343434, 20%)}; //Button Alt Click
	--themeTertiary: #343434; //Text Color
}

//Create a theme sass file with all possible schemes as separate lists, and load the required one based on option selected.
//Or scratch that, create a js martix of theme colours and store the selected theme as a cookie.

@mixin fullBarWrapper ($height: $baseUnit, $shadow: false, $shadowDirection: 0 -0.25rem, $bg: var(--themeHeader), $layer: null){
	position: relative;
	width: 100%;
	height: $height;
	background-color: $bg;
	@if $layer{
		z-index: $layer;
	}
	box-shadow: if($shadow, $shadowDirection 0.5rem 0.5rem rgba($color: #000000, $alpha: 0.25), none);
}

@mixin fullBar ($align: center, $justify: center, $direction: row){
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	@if $direction != row{
		flex-direction: $direction;
	}
}

@mixin mainGridCommons($type){
	@if list.nth($type, 1) == main {
		background-color: var(--themeMainContent);
		padding: 4rem;
	}
	@else if list.nth($type, 1) == sidebar{
		background-color: var(--themeSideContent);
		padding: 2rem;
	}
	@include forTabletDown{
		grid-column: 1 / 13;
		@if list.nth($type, 1) == main {
			padding: 2rem;
		}
		@if list.nth($type, 1) == sidebar {
			box-shadow: none;
		}
		@if list.nth($type, 2) == "left" {
			//background-color: turquoise;
		}		
	}
}

@font-face{
	font-family: Raleway;
	src: url('../fonts/Raleway-Regular.ttf');
}

@font-face{
	font-family: RedHatDisplay;
	src: url('../fonts/RedHatDisplay-Regular.ttf');
}

//HTML Starts here

html{
	font-family: Raleway;
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	transition: color 250ms;
	color: var(--themePrimary);
	&:hover{
		color: var(--themePrimaryLight);
	}
	/*
	&:visited{
		color: var(--themePrimaryDark);
	}
	*/
}

h1, h2, h3, h4, h5, h6{
	color: var(--themePrimary);
}

body{
	margin: 0;
	color: var(--themeTertiary);
}

.headerWrapper{
	@include fullBarWrapper($height: $baseUnit * 4, $shadow: true, $layer: 10);
}

header{
	@include fullBar;
	padding: 1rem;
	h1{
		color: var(--themeHeaderText) 
	}
	@include forTabletDown{
		flex-direction: column;
		img{
			max-height: 70% !important;
		}
		h1{
			margin: 0;
			font-size: 1.5rem;
		}
	}
}

.fit{
	max-height: 100%;
	max-width: 100%;
}

.navWrapper{
	@include fullBarWrapper($height: $baseUnit + math.div($baseUnit, 2), $shadow: true, $bg: var(--themeNav), $layer: 8);
}

nav{
	@include fullBar;
	.navItem, .navTheme{
		transition: color 250ms;
	}

}

.navLaptop{	
	@include forTabletDown{
		display: none;
	}
}

.navPhone{
	.navItem{
		position: absolute;
		left: math.div($baseUnit, 2);
	}
	@include forNotebookUp{
		display: none;
	}
}

.navItem{
	color: var(--themeNavLink);
	&:hover{
		color: var(--themeNavLinkHover);
	}
	&+&:before{
		content: '\00A0\00A0|\00A0\00A0';
		color: var(--themeNavLink) !important;
	}
}

.navTheme{
	position: absolute;
	right: math.div($baseUnit, 2);
	color: var(--themeNavLink);
	&:hover{
		cursor: pointer;
		color: var(--themeNavLinkHover);
	}
}

.mainWrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: black;
}

.mainFullContent{
	grid-column: 1 / 13;
	background-color: var(--themeMainContent);
	padding: 4rem;
}

.mainLeftContent{
	grid-column: 1 / 11;
	@include mainGridCommons($type: main null);
}

.mainRightContent{
	grid-column: 3 / 13;
	@include mainGridCommons($type: main null);
}

.mainMiddleContent{
	grid-column: 3 / 11;
	@include mainGridCommons($type: main null);
}

.mainLeftSidebar{
	box-shadow: -1rem 0 0.5rem -1rem rgba($color: #000000, $alpha: 0.25) inset;
	grid-column: 1 / 3;
	@include mainGridCommons($type: sidebar left);
}

.mainRightSidebar{
	box-shadow: 1rem 0 0.5rem -1rem rgba($color: #000000, $alpha: 0.25) inset;
	grid-column: 11 / 13;
	@include mainGridCommons($type: sidebar right);
}

.footerWrapper{
	@include fullBarWrapper($height: $baseUnit * 2, $shadow: true, $shadowDirection: 0 0.25rem, $bg: var(--themeFooter), $layer: 10);
}

footer{
	@include fullBar;
	@include forTabletDown{
		font-size: 0.75rem;
	};
	h4{
		color: var(--themeFooterText);
	}
}